@font-face {
    font-family: "font1";
    src: url(../../../font/Cascadia_Code/Cascadia_Code/static/CascadiaCode-Medium.ttf);
}

$font1: "font1", sans-serif;

$color1: #F2F2F2;
$color2: rgba(11, 68, 77);
$color3: rgba(68, 29, 24);

:root {
  --color-bg: #0f0f0f;
  --color-text: #f2f2f2;
  --color-text-secondary: #cccccc;
  --color-accent: #ff5c5c;
  --color-hover: #ffd166;
}

body {
    font-family: $font1;
    background: $color2;
    color: var(--color-text);

}

h1, h2, h3 {
  color: var(--color-text);
}

button {
  color: var(--color-accent);
  border: none;
  background: var(--color-text);
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
  text-decoration: none;
  
}

a{
  color: var(--color-accent);
  background: transparent;
  padding: 20px 20px;
  transition: 0.3s;
  text-decoration: none;
  
}

a:hover {
  color: var(--color-hover);
  border-color: var(--color-hover);
}

button:hover {
  background-color: var(--color-hover);
  color: var(--color-accent);
  border: none;
}


* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


li {
    list-style: none;
}