@import "../Components/footer";

#contact {
   min-height: calc(100vh - 594px);
   display: flex;
   justify-content: center;
   align-items: center;

    .contact-section {
      padding: 80px 20px;
      background-color: var(--color-bg);
      color: var(--color-text);
      text-align: center;

  
      h2{
        position: relative;
        font-size: 2.5rem;
        padding-bottom: 40px;
        z-index:1;
      

        &::after {
          content:"";
          position: absolute;
          bottom: 43px;        
          left: 50%;     
          width: 320px;
          height: 12px;
          background-color: var(--color-accent);
          transform: translateX(-50%);
          z-index: -1;
        }
      }
    }

  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  

    .form-group {
      display: flex;
      flex-direction: column;
      text-align: left;

      label {
        margin-bottom: 8px;
        font-weight: bold;
        color: var(--color-text-secondary);
        letter-spacing: 1px;
      }

      input,
      textarea {
        padding: 10px;
        border: 2px solid var(--color-accent);
        border-radius: 8px;
        background-color: transparent;
        color: var(--color-text);
        resize: none;

        &:focus {
          outline: none;
          border-color: var(--color-hover);
        }
      }
    }

    .checkbox-container {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      font-size: 0.9rem;
      text-align: left;

      input[type="checkbox"] {
        margin-top: 5px;
        cursor: pointer;
      }

      a {
        color: var(--color-accent);
        text-decoration: underline;

        &:hover {
          color: var(--color-hover);
        }
      }
    }

    button {
      align-self: center;
      margin-top: 20px;
      margin-bottom: 30px;
      cursor: pointer;
      font-size: 1rem;
      font-weight:600;
      letter-spacing: 1px;
    }

    .contact-links {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      gap: 2rem;


      .contact-icon {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: #222;
        font-size: 1rem;
        transition: color 0.3s ease;

        svg {
          font-size: 1.5rem;
        }
      }
    }
  }
}